# Base URL of the application. Necessary to generate correct URLs. Default is localhost.
BASE_URL=

# Turns on debugging behaviour if set to ``on``. Not secure for use in production.
DEBUG=on

# Path to folder containing the database and uploaded files.
WAREHOUSE_PATH=/gioland/instance/warehouse

# Path to lockfile used to synchronize access to chunked file uploads.
LOCK_FILE_PATH=/gioland/instance/db.lock

# URL of Sentry server to report errors.
SENTRY_DSN=

# Random secret used for Flask browser sessions.
SECRET_KEY=enter secret key here

# Server and DN pattern for connecting to LDAP.
LDAP_SERVER=ldaps://ldap3.eionet.europa.eu
LDAP_USER_DN_PATTERN=uid={user_id},ou=Users,o=EIONET,l=Europe

# Space-separated lists of principals for that role. Principals can be in the format ``user_id:NAME`` or ``ldap_group:NAME``.
ROLE_SP=ldap_group:sp_group_example
ROLE_ETC=ldap_group:etc_group_example
ROLE_VEP=user_id:vep_user_example
ROLE_NRC=ldap_group:nrc_group_example
ROLE_ADMIN=user_id:admin_user_example
ROLE_VIEWER=ldap_group:view_user_example

# Credentials for sending notifications via UNS
UNS_CHANNEL_ID=channel_id_example
UNS_LOGIN_USERNAME=username
UNS_LOGIN_PASSWORD=password

TIME_ZONE=Europe/Bucharest

ALLOW_PARCEL_DELETION=on

# URL relative path to the documentation
DOCS_URL=/docs/
