<meta name="viewport" content="initial-scale=1.0" />

<link rel="stylesheet" type="text/css" media="screen"
      href="{{ url_for('static', filename='eionet2007/screen.css') }}" />
<link rel="stylesheet" type="text/css" media="print"
      href="{{ url_for('static', filename='eionet2007/print.css') }}" />
<link rel="stylesheet" type="text/css" media="handheld"
      href="{{ url_for('static', filename='eionet2007/handheld.css') }}" />

<style type="text/css">
  #explanation {

      background-color:#f4f3f1;
      margin-top: 1em;
      border:1px solid #b1acae;

  }
  #explanation p {
      margin-top:0;
      padding:0 10px 1em 10px;
  }
  #explanation h1 {
      background:transparent;
      color:black;
      text-transform: none;
      padding:0 10px;
      margin:0;
  }

  #rightcolumn h2 {
      font-size: 120%;
      text-align: center;
  }


  .localservice {
      margin: 2em 1em 0em 1em;
      background-color: #a5ced1;
      padding: 0.5em;
      text-align: center;
  }

  .localservice h2 {
      padding-top: 0;
      margin-top: 0;
      font-size: 120%;
  }
</style>
