<div class="localnav">
 <h2>Local navigation</h2>

<ul>
<li><a href="/directory/" title="Eionet user directory">User directory</a></li>
<li><a href="/ldap-roles/?role_id=eionet" title="Roles - Who is who">Roles</a></li>
<li><a href="/ldap-organisations/" title="Oranisations">Organisations</a></li>
<li><a href="http://forum.eionet.europa.eu/nfp-eionet" title="NFP / Eionet Interest Group [Access requires CIRCA login]">NFP/Eionet IG</a></li>
<li><a href="/rolemails" title="Mails to NFPs">Mails to NFPs</a></li>
<li><a href="/seris" title="Countries' state of the environment reports">SERIS</a></li>
<li><a href="http://planner.eionet.europa.eu/" title="Eionet workplan/planner">Workplan/planner</a></li>
<li><a href="/events" title="Meetings and events">Meetings &amp; events</a></li>
<li><a href="/dataflows" title="Overview of reporting status for priority dataflows">Priority dataflows</a></li>
</ul>


</div>
