<div class="localnav">

 <h2>Local navigation</h2>

  <ul>

    <li>
      <a href="{{ url_for('parcel.index') }}">GioLand</a>
    </li>

    <li>
      <a href="{{ url_for('parcel.overview') }}">Search deliveries</a>
    </li>

    <li>
      <a href="{{ url_for('parcel.subscribe') }}">Subscribe to notifications</a>
    </li>

    <li>
      <a href="http://eionet.europa.eu/ldap-roles/?role_id=eionet-group-gioland"
         title="Roles - Who is who">Roles</a>
    </li>

    {% if authorize_for_parcel(None) %}
    <li>
      <a href="{{ url_for('parcel.new') }}">New delivery</a>
    </li>
    {% endif %}

  </ul>

</div>
