{% macro metadata_table(metadata, show_stage=True) %}

  {% set delivery_type = metadata.get('delivery_type', LOT) %}

  <table class="datatable">

    {% if delivery_type == COUNTRY %}
      <tr>
        <th>Country</th>
        <td>{{ COUNTRY_MAP[metadata['country']] }}</td>
      </tr>
    {% endif %}

    <tr>
      <th>Lot</th>
      <td>{{ LOTS_MAP[metadata['lot']] }}</td>
    </tr>
    <tr>
      <th>Product</th>
      <td>{{ PRODUCT_MAP[metadata['product']] }}</td>
    </tr>
    {%if delivery_type != STREAM %}
      <tr>
        <th>Spatial resolution</th>
        <td>{{ RESOLUTION_MAP[metadata['resolution']] }}</td>
      </tr>
      {% if delivery_type == LOT %}
        <tr>
          <th>Extent</th>
          <td>
            {{ EXTENT_MAP[metadata['extent']] }} <br>
            <span style="font-size: 12px">{{ metadata['coverage'] }}</span>
          </td>
        </tr>
      {% endif %}
      <tr>
        <th>Reference year</th>
        <td>{{ REFERENCE_MAP[metadata['reference']] }}</td>
      </tr>
    {% endif %}
    {% if show_stage %}
    <tr>
      <th>Processing stage</th>
      {% if delivery_type == COUNTRY %}
        <td>{{ STAGE_MAP[metadata['stage']] }}</td>
      {% elif delivery_type == LOT %}
        {% if EXTENT_MAP[metadata['extent']] == 'Partial' %}
          <td>{{ PARTIAL_LOT_STAGE_MAP[metadata['stage']]}}</td>
        {% else %}
          <td>{{ FULL_LOT_STAGE_MAP[metadata['stage']] }}</td>
        {% endif %}
      {% endif %}
    </tr>
    {% endif %}

  </table>

{% endmacro %}


{% macro files_table(parcel, delete_buttons=False) %}

  {% set files = parcel.get_files() %}

  {% if files %}
    <div class="files-table">
    <ul>
    {% for file_path in files %}
      <li>
      {% if parcel %}
        {% set url = url_for('parcel.download',
                             name=parcel.name, filename=file_path.name) %}
        <a href="{{ url }}">{{ file_path.name }}</a>
      {% else %}
        {{ file_path.name }}
      {% endif %}
      ({{ file_path.getsize() }} bytes)
      {% if delete_buttons %}
        <a href="{{ url_for('parcel.delete_file', name=parcel.name,
                            filename=file_path.name ) }}"
           class="delete-file">Delete</a>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
    </div>
  {% else %}

    <p><i>No files uploaded.</i></p>

  {% endif %}

{% endmacro %}


{% macro pick_from_list(id, name, items, any=False, label=None, url='') -%}
  <select id="{{ id }}" name="{{ name }}"  {% if url %} data-href="{{ url }}" {% endif %}>
  {% if any %}
    <option value="">Any {{ label or name|title }}</option>
  {% endif %}
  {% for key, label in items %}
    <option value="{{ key }}">{{ label }}</option>
  {% endfor %}
  </select>
{%- endmacro %}

{% macro breadcrumb_items(crumb_list) -%}
  <div class="breadcrumbtrail">

    <div class="breadcrumbhead">You are here:</div>

    <div class="breadcrumbitem eionetaccronym">
      <a href="http://www.eionet.europa.eu/">Eionet</a>
    </div>

    {% for crumb_url, crumb_name in crumb_list %}
      {% if loop.last -%}
        {% set css_class = 'breadcrumbitemlast' %}
      {% else %}
        {% set css_class = 'breadcrumbitem' %}
      {%- endif %}
      <div class="{{ css_class }}">
        {% if crumb_url %}
          <a href="{{ crumb_url }}">{{ crumb_name }}</a>
        {% else %}
          {{ crumb_name }}
        {% endif %}
      </div>
    {% endfor %}
    <div class="breadcrumbtail"></div>
  </div>
{% endmacro %}


{% macro parcel_status(parcel) %}

  <a href="{{ url_for('parcel.view', name=parcel.name) }}">
  {% if parcel.uploading %}
    {% if parcel.metadata['delivery_type'] == LOT %}
      {% set DELIVERY_STAGES = PARTIAL_LOT_STAGES %}
    {% else %}
      {% set DELIVERY_STAGES = STAGES %}
    {% endif %}
    {% if DELIVERY_STAGES[parcel.metadata['stage']]['last'] %}
      <em>done</em>
    {% else %}
      <em>in progress</em>
    {% endif %}

  {% else %}

    {% if parcel.metadata['rejection'] %}
      <img src="{{ url_for('static', filename='rejected.gif') }}"
           width="16" height="16" alt="Rejected">
    {% else %}
      <img src="{{ url_for('static', filename='ok.gif') }}"
           width="16" height="16" alt="Finalized">
    {% endif %}

  {% endif %}
  </a>

{% endmacro %}


{% macro workflow_overview(grouped_parcels, lot=False) %}

  {% if lot %}
    {% set FILTERED_STAGES = PARTIAL_LOT_STAGES %}
  {% else %}
    {% set FILTERED_STAGES = STAGES %}
  {% endif %}

  {% for grouper, parcels in grouped_parcels %}

  <table class="datatable" style="width: 100%;">
    <colgroup style="width: 11em;"></colgroup>
    <thead>
      <tr>
        <th class="title" colspan="{{ FILTERED_STAGES|length }}">
          {{ PRODUCT_MAP[grouper] }}</th>
      </tr>
      <tr>
        {% for stage, data in FILTERED_STAGES.items() %}
          <th>{{ data['label'] }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>

      {% for parcel in parcels %}

      <tr>
        {% set parcels_by_stage = get_parcels_by_stage(parcel.name) %}

        {% for stage in FILTERED_STAGES %}

          {% set parcel_by_stage = parcels_by_stage[stage] %}

          <td class="center">
            {% if parcel_by_stage %}
              {% if parcel_by_stage is string %}
                {{ parcel_by_stage}}
              {% else %}
                {{ parcel_status(parcel_by_stage) }}
              {% endif %}
            {% endif %}
          </td>
        {% endfor %}

      </tr>

      {% endfor %}

    </tbody>

  </table>

  {% endfor %}

{% endmacro %}


{% macro report_overview(reports) %}

  {% if reports|count > 0 %}

    <h1>Product Delivery Reports</h1>
    {% for group in reports|groupby('product') %}
      <h4 style="margin-bottom: 0">{{ COUNTRY_PRODUCTS_MAP[group.grouper] }}</h4>
      <ul class="report-list">
      {% for report in group.list %}
        <li>
          <a href="{{ url_for('parcel.download_report_file', report_id=report.pk) }}">
            {{ report.filename }}</a> by {{ report.user }}
            {% if authorize(['ROLE_ADMIN']) %}
            <a href="{{ url_for('parcel.delete_report', report_id=report.pk) }}">Delete</a>
            {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endfor %}

  {% endif %}
{% endmacro %}

