{% extends "layout.html" %}

{% set title = COUNTRY_MAP[code] %}


{% block page_title %}{{ super() }} &ndash; {{ title }}{% endblock %}


{% from 'bits.html' import breadcrumb_items %}
{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GioLand'),
    (url_for('parcel.country', code=code), title),
  ]) }}
{% endblock %}


{% block page_heading %}<h1>{{ title }}</h1>{% endblock %}


{% block content %}

  {% from 'bits.html' import parcels_table with context %}

  {% if authorize_for_parcel(None) %}
    <p><a href="{{ url_for('parcel.new') }}">Begin a new upload</a></p>
  {% endif %}

  {{ parcels_table(all_parcels) }}

{% endblock %}
