{% extends "layout.html" %}


{% from 'bits.html' import breadcrumb_items %}
{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GIO Land'),
  ]) }}
{% endblock %}


{% block page_heading %}
  <h1>Copernicus land services High Resolution Layers – 2015 reference year</h1>
{% endblock %}


{% block content %}
  <ul class="tabs">
    <li {% if delivery == 'lots' %}class="active"{% endif %}>
      <a href="{{ url_for('.switch_delivery', delivery='lots') }}" >
      Lots</a></li>
    <li {% if delivery == 'country' %}class="active"{% endif %}>
      <a href="{{ url_for('.switch_delivery', delivery='country') }}">
      Country deliveries</a></li>
  </ul>

  {% if delivery == 'lots' %}
    <h2>Lots</h2>

    <div>
      {% for key, label in LOTS %}

      <div>
        <a href="{{ url_for('parcel.lot', code=key) }}">{{ label }}</a>
      </div>

      {% endfor %}
    </div>
  {% endif %}

  {% if delivery == 'country' %}
    <h2>EEA Member countries</h2>

    <div class="countrybox-container">
      {% for key, label in COUNTRIES_MC %}

      <div class="countrybox">
        <a href="{{ url_for('parcel.country', code=key) }}">{{ label }}</a>
      </div>

      {% endfor %}
    </div>

    <h2>Cooperating countries</h2>

    <div class="countrybox-container">
      {% for key, label in COUNTRIES_CC %}

      <div class="countrybox">
        <a href="{{ url_for('parcel.country', code=key) }}">{{ label }}</a>
      </div>

      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
