{% extends "layout.html" %}

{% block content %}

<h1>New upload</h1>

<form method="post">

  <table>

    <tr>
      <td><label for="upload-meta-country">Country</label></td>
      <td>
        <select id="upload-meta-country" name="country">
          <option>Austria</option>
          <option>Belgium</option>
          <option>Bulgaria</option>
          <option>Cyprus</option>
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="upload-meta-theme">Theme</label></td>
      <td>
        <select id="upload-meta-theme" name="theme">
          <option value="imp-deg">Imperviousness Degree</option>
          <option value="imp-chg">Imperviousness Change</option>
          <option value="tcd">Tree Cover Density</option>
          <option value="fty">Forest Type</option>
          <option value="tnt">Tree / Non-tree</option>
          <option value="tty">Tree Type</option>
          <option value="grc">Grassland Cover</option>
          <option value="grd">Grassland Density</option>
          <option value="wet">Wetlands</option>
          <option value="pwb">Permanent Water Bodies</option>
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="upload-meta-projection">Projection</label></td>
      <td>
        <select id="upload-meta-projection" name="projection">
          <option name="ntl">National</option>
          <option name="eur">European</option>
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="upload-meta-resolution">Spatial resolution</label></td>
      <td>
        <select id="upload-meta-resolution" name="resolution">
          <option>20m</option>
          <option>25m</option>
          <option>100m</option>
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="upload-meta-extent">Extent</label></td>
      <td>
        <select id="upload-meta-extent" name="extent">
          <option>Full</option>
          <option>Partial</option>
        </select>
      </td>
    </tr>

  </table>

  <input type="submit" value="Begin upload">

</form>

{% endblock %}
