{% extends "layout.html" %}

{% block content %}

<h1>New upload</h1>

<form method="post">

  <table>

    <tr>
      <td><label for="upload-meta-country">Country</label></td>
      <td>
        <select id="upload-meta-country" name="country">
        {% for key, label in COUNTRIES %}
          <option value="{{ key }}">{{ label }}</option>
        {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="upload-meta-theme">Theme</label></td>
      <td>
        <select id="upload-meta-theme" name="theme">
        {% for key, label in THEMES %}
          <option value="{{ key }}">{{ label }}</option>
        {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="upload-meta-projection">Projection</label></td>
      <td>
        <select id="upload-meta-projection" name="projection">
        {% for key, label in PROJECTIONS %}
          <option value="{{ key }}">{{ label }}</option>
        {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="upload-meta-resolution">Spatial resolution</label></td>
      <td>
        <select id="upload-meta-resolution" name="resolution">
        {% for key, label in RESOLUTIONS %}
          <option value="{{ key }}">{{ label }}</option>
        {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="upload-meta-extent">Extent</label></td>
      <td>
        <select id="upload-meta-extent" name="extent">
        {% for key, label in EXTENTS %}
          <option value="{{ key }}">{{ label }}</option>
        {% endfor %}
        </select>
      </td>
    </tr>

  </table>

  <input type="submit" value="Begin upload">

</form>

{% endblock %}
