{% extends "layout.html" %}

{% set title = "Search deliveries" %}


{% block page_title %}{{ super() }} &ndash; {{ title }}{% endblock %}


{% from 'bits.html' import breadcrumb_items %}
{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GioLand'),
    (url_for('parcel.overview'), title),
  ]) }}
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='uri.js') }}"></script>
    <script>
      function filter() {
          var uri = URI(document.location.href);
          var name = $(this).attr("name");
          var val = $(this).val();

          uri.removeSearch(name);
          if(val) { uri.addSearch(name, val); }
          document.location = uri.href();
      }

      function default_select_filters() {
        var uri = URI(document.location.href);
        var query = URI.parseQuery(uri.query());
        $.each(query, function (k, v) {
          $("#filter-" + k).find("option[value=" + v + "]")
                           .attr("selected", "selected");
        });
      }

      $(document).ready(function () {
        $(".filters").on("change", "select", filter);
        default_select_filters();
      });
    </script>
{% endblock %}

{% block page_heading %}<h1>{{ title }}</h1>{% endblock %}


{% block content %}

  {% from 'bits.html' import parcels_table with context %}
  {% include "overview_filter.html" %}
  {{ parcels_table(parcels) }}

{% endblock %}
