{% extends "layout.html" %}


{% from 'bits.html' import breadcrumb_items %}
{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GIO Land'),
    (url_for('parcel.view', name=first_parcel.name),
             THEME_MAP[first_parcel.metadata["theme"]]),
    (url_for('parcel.chain', name=first_parcel.name),
             "High Resolution Layers - workflow overview")
  ]) }}
{% endblock %}


{% block page_heading %}
  <h1>High Resolution Layers &mdash; workflow overview</h1>
{% endblock %}

{% block content %}

  {% from 'bits.html' import metadata_table with context %}
  {% set metadata = first_parcel.metadata %}
  {{ metadata_table(metadata, show_stage=False) }}

  <table class="datatable">

    <thead>
      <th>Stage</th>
      <th>Time</th>
    </thead>

    <tbody>

    {% for parcel in workflow_parcels %}
      <tr>

        <td>
          {% set parcel_url = url_for('parcel.view', name=parcel.name) %}
          {% set stage = STAGE_MAP[parcel.metadata['stage']]  %}
          <a href="{{ parcel_url }}">{{stage }}</a>
        </td>

        <td>
          {% if parcel.uploading %}

            {% if STAGES[parcel.metadata['stage']]['last'] %}
              <em>done</em>
            {% else %}
              <em>in progress</em>
            {% endif %}

          {% else %}
            {{ parcel.metadata['upload_time'] }}
          {% endif %}
        </td>

      </tr>
    {% endfor %}

    </tbody>
  </table>

{% endblock %}
