{% extends "layout.html" %}


{% from 'bits.html' import breadcrumb_items %}
{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GIO Land'),
    (url_for('parcel.view', name=first_parcel.name),
             PRODUCT_MAP[first_parcel.metadata["product"]]),
    (url_for('parcel.chain', name=first_parcel.name),
             "High Resolution Layers - workflow overview")
  ]) }}
{% endblock %}


{% block page_heading %}
  <h1>High Resolution Layers &mdash; workflow overview</h1>
{% endblock %}

{% block content %}

  {% from 'bits.html' import metadata_table with context %}
  {% set metadata = first_parcel.metadata %}
  {{ metadata_table(metadata, show_stage=False) }}


  {% if prev_parcels %}

  <table id="parcels-merged-history" class="datatable" style="width: 290px;">

    <thead>
      <tr>
        <th colspan="2">
          Merged with {{ prev_parcels|count }} other parcels</th>
      </tr>
      <tr>
        <th>Stage</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      {% for prev_parcel in prev_parcels %}
        <tr>
          <td>
            {% set prev_parcel_url = url_for('parcel.view',
                                             name=prev_parcel.name) %}
            {% set stage = ALL_STAGES_MAP[prev_parcel.metadata['stage']]  %}
            <a href="{{ prev_parcel_url }}">
              {{ stage  }} </a>
          </td>
          <td>
            {{ prev_parcel.metadata['upload_time']|isoformat_to_datetime
                                                  |datetime }}
          </td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

  {% endif %}

  <table class="datatable" style="width: 290px;">

    <thead>
      <th>Stage</th>
      <th>Time</th>
    </thead>

    <tbody>

    {% for parcel in workflow_parcels %}
      <tr>

        <td>
          {% set parcel_url = url_for('parcel.view', name=parcel.name) %}
          {% set DELIVERY_STAGES, _ = get_stages_for_parcel(parcel) %}
          {% set stage = ALL_STAGES_MAP[parcel.metadata['stage']]  %}
          <a href="{{ parcel_url }}">
            {{ stage }}
            {% if parcel.metadata.get('merged') %}(merged){% endif %}
          </a>
        </td>

        <td>
          {% if parcel.uploading %}

            {% if DELIVERY_STAGES[parcel.metadata['stage']]['last'] %}
              <em>done</em>
            {% else %}
              <em>in progress</em>
            {% endif %}

          {% else %}
            {{ parcel.metadata['upload_time']|isoformat_to_datetime|datetime }}
          {% endif %}
        </td>

      </tr>
    {% endfor %}

    </tbody>
  </table>

{% endblock %}
