{% extends "layout.html" %}
{% from 'bits.html' import metadata_table, files_table with context %}
{% from 'bits.html' import breadcrumb_items %}


{% set file_authorize = (parcel.uploading and authorize_for_parcel(parcel)) %}
{% set metadata = parcel.metadata %}
{% set country_code = metadata['country'] %}
{% set title_bits = '%s, %s'|format(THEME_MAP[metadata['theme']],
                                    STAGE_MAP[metadata['stage']]) %}
{% set country = COUNTRY_MAP[country_code] %}


{% block page_title -%}
  {{ super() }} &ndash;
  {{ country }}, {{ title_bits }} (ref. {{ parcel.name }})
{%- endblock %}


{% block scripts %}
  <script src="{{ url_for('static', filename='resumable.js') }}"></script>
  <script src="{{ url_for('static', filename='mustache.js') }}"></script>
  <script src="{{ url_for('static', filename='upload.js') }}"></script>

  <script id="upload-list-template" type="text/template">
    {% raw %}
    <li id="{{uniqueIdentifier}}">
      <div class="name" title="{{fileName}}">
        {{fileNameTruncated}}
        <div class="err">
          <a href="" class="cancel-file">cancel upload</a></div>
      </div>
      <div class="progress-bar">
        <div class="bar"></div>
        <span class="percentage"></span>
      </div>
    </li>
    {% endraw %}
  </script>
  <script>
    $(document).ready(function () {
      {% if file_authorize %}
        App.Upload({
          upload_target: "{{ url_for('parcel.upload', name=parcel.name) }}",
          files_target: "{{ url_for('parcel.files', name=parcel.name) }}",
          finalize_upload_target: "{{ url_for('parcel.finalize_upload',
                                               name=parcel.name) }}",
          container: "#file-upload"
        });
      {% endif %}
    });
  </script>
{% endblock %}


{% block page_heading %}
  <h1>{{ country }}, {{ title_bits }} (ref. <tt>{{ parcel.name }}</tt>)</h1>
{% endblock %}


{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GioLand'),
    (url_for('parcel.country', code=country_code), COUNTRY_MAP[country_code]),
    (url_for('parcel.view', name=parcel.name),
        '%s (%s)'|format(title_bits, parcel.name)),
  ]) }}
{% endblock %}


{% block content %}

<p>
  {% set overview_url = url_for('parcel.chain', name=parcel.name) %}
  <a href="{{ overview_url }}">workflow overview</a>

  {% if authorize_for_parcel(parcel) and config['ALLOW_PARCEL_DELETION'] %}
    <a href="{{ url_for('parcel.delete', name=parcel.name) }}"
       class="delete-parcel">delete</a>
  {% endif %}
</p>

<h2>Metadata</h2>
{{ metadata_table(metadata) }}

{% if not STAGES[parcel.metadata['stage']]['last'] %}

<h2>Files</h2>

<div id="file-upload">
  {{ files_table(parcel, delete_buttons=file_authorize) }}

  {% if file_authorize %}

    {% include "parcel_file_upload.html" %}

    <form method="get"
          action="{{ url_for('parcel.finalize', name=parcel.name) }}">
      <p>
        When all files are ready, finalize the parcel, which will trigger
        the next workflow step.
      </p>

      <button type="submit">Finalize</button>

      {% if STAGES[parcel.metadata['stage']]['reject'] %}
        <button type="submit" name="reject" value="on">
          Finalize and reject</button>
      {% endif %}
    </form>

  {% endif %}
</div>

{% endif %}


<h2>History</h2>

<ul class="history-list">
{% for item in parcel.history %}

  <li class="history-item">
    <h3>{{ item.title }} on
        {{ item.time|datetime }}
        by {{ item.actor }}</h3>
    <div class="history-item-description">
      {{ item.description_html|safe }}
    </div>
  </li>

{% endfor %}
</ul>

{% if g.username %}
  <form method="post" action="{{ url_for('parcel.comment', name=parcel.name) }}">
  <strong>Comment</strong>
  <textarea name="comment" class="comment"></textarea>
  <button>Add comment</button>
{% endif %}

{% endblock %}
