{% extends "layout.html" %}

{% block content %}

{% from 'bits.html' import metadata_table, files_table with context %}

<h1>Parcel "{{ parcel.name }}"</h1>

<h2>Metadata</h2>
{% set metadata = parcel.metadata %}
{{ metadata_table(metadata) }}

<p>
  {% set overview_url = url_for('views.parcel_chain', name=parcel.name) %}
  <a href="{{ overview_url }}">workflow overview</a>

  {% set prev_parcel_name = metadata['prev_parcel'] %}
  {% if prev_parcel_name %}
    <a href="{{ url_for('views.parcel', name=prev_parcel_name) }}">previous</a>
  {% endif %}

  {% set next_parcel_name = metadata['next_parcel'] %}
  {% if next_parcel_name %}
    <a href="{{ url_for('views.parcel', name=next_parcel_name) }}">next</a>
  {% endif %}

  <a href="{{ url_for('views.parcel_delete', name=parcel.name) }}"
     class="delete-parcel">delete</a>
</p>

<h2>Existing files</h2>
{{ files_table(parcel.get_path(), parcel=parcel) }}

{% if parcel.uploading %}

  <form method="post" enctype="multipart/form-data"
        action="{{ url_for('views.parcel_file', name=parcel.name) }}">
    <label for="form-upload-file">Add file</label>
    <input id="form-upload-file" type="file" name="file">
    <input type="submit" value="Upload">
  </form>

  <form method="post"
        action="{{ url_for('views.parcel_finalize', name=parcel.name) }}">
    <p>
      When all files are ready, finalize the parcel, which will trigger
      the next workflow step.
    </p>
    <input type="submit" value="Finalize">
  </form>

{% endif %}


<h2>History</h2>

<ul class="history-list">
{% for item in parcel.history %}

  <li class="history-item">
    <h3>{{ item.title }} on {{ item.time }} by {{ item.actor }}</h3>
    <div class="history-item-description">
      {{ item.description_html|safe }}
    </div>
  </li>

{% endfor %}
</ul>

{% endblock %}
