{% extends "layout.html" %}

{% block content %}

{% from 'bits.html' import metadata_table, files_table %}

<h1>Parcel "{{ parcel.name }}"</h1>

<h2>Metadata</h2>
{% set metadata = parcel.metadata %}
{{ metadata_table(metadata) }}

<p>
  {% set prev_parcel_name = metadata['prev_parcel'] %}
  {% if prev_parcel_name %}
    <a href="{{ url_for('views.parcel', name=prev_parcel_name) }}">previous</a>
  {% endif %}

  {% set next_parcel_name = metadata['next_parcel'] %}
  {% if next_parcel_name %}
    <a href="{{ url_for('views.parcel', name=next_parcel_name) }}">next</a>
  {% endif %}
</p>

<h2>Existing files</h2>
{{ files_table(parcel.get_path(), parcel=parcel) }}

{% if parcel.uploading %}

  <form method="post" enctype="multipart/form-data"
        action="{{ url_for('views.parcel_file', name=parcel.name) }}">
    <label for="form-upload-file">Add file</label>
    <input id="form-upload-file" type="file" name="file">
    <input type="submit" value="Upload">
  </form>

  <form method="post"
        action="{{ url_for('views.parcel_finalize', name=parcel.name) }}">
    <p>
      When all files are ready, finalize the parcel, which will trigger
      the next workflow step.
    </p>
    <input type="submit" value="Finalize">
  </form>

{% endif %}

{% endblock %}
