{% extends "layout.html" %}

{% set title = "New delivery" %}


{% block page_title %}{{ super() }} &ndash; {{ title }}{% endblock %}


{% from 'bits.html' import breadcrumb_items %}
{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GioLand'),
    (url_for('parcel.new'), title),
  ]) }}
{% endblock %}


{% block page_heading %}<h1>{{ title }}</h1>{% endblock %}


{% block content %}

  {% from 'bits.html' import pick_from_list %}

  <form method="post">

    <table>
    {% for name, label, items in [
            ('country', "Country", COUNTRIES),
            ('theme', "Theme", THEMES),
            ('projection', "Projection", PROJECTIONS),
            ('resolution', "Spatial resolution", RESOLUTIONS),
            ('extent', "Extent", EXTENTS),
        ] %}

      <tr>
        {% set field_id = 'upload-meta-' + name %}
        <td><label for="{{ field_id }}">{{ label }}</label></td>
        <td>{{ pick_from_list(field_id, name, items) }}</td>
      </tr>

    {% endfor %}
    </table>

    <button type="submit">Begin upload</button>

  </form>

{% endblock %}
