{% extends "layout.html" %}

{% set title = "New delivery" %}


{% block page_title %}{{ super() }} &ndash; {{ title }}{% endblock %}


{% block scripts %}

  <script>
    $(function() {
      $('[name=extent]').on('change', function () {
        var val = $(this).val();
        var coverage = $(this).parents('form').find('[name=coverage]');
        if(val == 'full') {
          coverage.parents('tr').hide();
          coverage.val('');
        }
        if(val == 'partial') {
          coverage.parents('tr').show();
          coverage.focus();
        }
      }).change();

      $('#delivery_type').on('change', 'input[type=radio]', function () {
        var val = $(this).val();
        $('.delivery_form').hide();
        $(val).show();
      }).change();

    });
  </script>

{% endblock %}


{% from 'bits.html' import breadcrumb_items %}
{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GIO Land'),
    (url_for('parcel.delivery'), title),
  ]) }}
{% endblock %}

{% block page_heading %}<h1>Usage</h1>{% endblock %}

{% block content %}

  {% from 'bits.html' import pick_from_list %}

  <div class="tip">
    <p>Use only for initial service provider uploads of intermediate HRLs.</p>

    <p>Do not use this to re-submit corrected HRLs that have been rejected at the Semantic Check stage.</p>

    <p>If instead you wish to re-submit a corrected intermediate HRL that was rejected at the Semantic Check stage, use either:</p>

    <ul>
      <li>
        1. The Identifier field in an HRL process notificaion contains a link to the HRL parcel.<br />
        - Click on Identifier field link.<br />
        - Click on Next step: Service provider upload.<br />
        - Use the dialogue to upload your data.<br />
      </li>

      <li>
        2. Use the Search deliveries tool.<br />
        - Select the country, theme etc. to find the HRL of interest.<br />
        - Click on the Stage link. This takes you to the upload page, as in 1) above.<br />
      </li>
    </ul>

    <p>If an upload was made erroneously and you want to delete it, contact <a href="mailto:alan.steel@eea.europa.eu">alan.steel@eea.europa.eu</a></p>

    Please ensure that the delivered files conform to the file naming conventions in the following document (<a href="{{ url_for('static', filename='doc/filenameConvention.pdf') }}">Filename_convention.pdf</a>).
  </div>

  <h1>{{ title }}</h1>

  <table id="delivery_type" class="delivery_type">
    <tr>
      <td>
        <label>
            <input type="radio" name="delivery_type" checked="checked"
                   value="#country_delivery_form">
            Country-based delivery
        </label>
      </td>
      <td>
        <label>
            <input type="radio" name="delivery_type"
                   value="#lot_delivery_form">
            Lot delivery
        </label>
      </td>
    </tr>
  </table>

  <hr>

  <form id="country_delivery_form" class="delivery_form" method="post"
        action="{{ url_for('parcel.country_delivery') }}">

    <table>
      <tr>
        <td>{{ country_delivery_form.country.label }}</td>
        <td>{{ country_delivery_form.country() }}</td>
      </tr>

      <tr>
        <td>{{ country_delivery_form.theme.label }}</td>
        <td>{{ country_delivery_form.theme() }}</td>
      </tr>

      <tr>
        <td>{{ country_delivery_form.projection.label }}</td>
        <td>{{ country_delivery_form.projection() }}</td>
      </tr>

      <tr>
        <td>{{ country_delivery_form.resolution.label }}</td>
        <td>{{ country_delivery_form.resolution() }}</td>
      </tr>

      <tr>
        <td>{{ country_delivery_form.extent.label }}</td>
        <td>{{ country_delivery_form.extent() }}</td>
      </tr>

      <tr class="hide">
        <td>{{ country_delivery_form.coverage.label }}</td>
        <td>{{ country_delivery_form.coverage() }}
            <span class="err">(required)</span>
        </td>
      </tr>
    </table>

    <button type="submit">Begin upload</button>

  </form>

  <form id="lot_delivery_form" class="delivery_form hide" method="post"
        action="{{ url_for('parcel.lot_delivery') }}">

    <table>
      <tr>
        <td>{{ lot_delivery_form.lot.label }}</td>
        <td>{{ lot_delivery_form.lot() }}</td>
      </tr>

      <tr>
        <td>{{ lot_delivery_form.theme.label }}</td>
        <td>{{ lot_delivery_form.theme() }}</td>
      </tr>

      <tr>
        <td>{{ lot_delivery_form.projection.label }}</td>
        <td>{{ lot_delivery_form.projection() }}</td>
      </tr>

      <tr>
        <td>{{ lot_delivery_form.resolution.label }}</td>
        <td>{{ lot_delivery_form.resolution() }}</td>
      </tr>

      <tr>
        <td>{{ lot_delivery_form.extent.label }}</td>
        <td>{{ lot_delivery_form.extent() }}</td>
      </tr>

      <tr class="hide">
        <td>{{ lot_delivery_form.coverage.label }}</td>
        <td>{{ lot_delivery_form.coverage() }}
            <span class="err">(required)</span></td>
      </tr>
    </table>

    <button type="submit">Begin upload</button>

  </form>

{% endblock %}
