{% extends "layout.html" %}

{% set title = "New delivery" %}


{% block page_title %}{{ super() }} &ndash; {{ title }}{% endblock %}


{% block scripts %}

  <script>
    $(function() {
      $('[name=extent]').on('change', function () {
        var val = $(this).val();
        var coverage = $(this).parents('form').find('[name=coverage]');
        if(val == 'full') {
          coverage.parents('tr').hide();
          coverage.val('');
        }
        if(val == 'partial') {
          coverage.parents('tr').show();
          coverage.focus();
        }
      }).change();

      $('#delivery_type').on('change', 'input[type=radio]', function () {
        window.location.href = $(this).val();
      });

      $('#lot').on('change', function() {
        var idLot = $(this).val()
        var delivery_type = $('#delivery').val()
        $.getJSON('/pick_themes', {
          id: idLot,
          delivery_type: delivery_type,
        }, function(data) {
             var select = $('#theme');
             select.html('');
             $.each(data, function() {
               select.append($("<option />").val(this[0]).text(this[1]));
             });
        });

      }).change();
    });
  </script>

{% endblock %}


{% from 'bits.html' import breadcrumb_items %}
{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GIO Land'),
    (url_for('parcel.country_delivery'), title),
  ]) }}
{% endblock %}

{% block page_heading %}<h1>Usage</h1>{% endblock %}

{% block content %}

  {% from 'bits.html' import pick_from_list %}

  <div class="tip">
    <p>Use only for initial service provider uploads of intermediate HRLs.</p>

    <p>Do not use this to re-submit corrected HRLs that have been rejected at the Semantic Check stage.</p>

    <p>If instead you wish to re-submit a corrected intermediate HRL that was rejected at the Semantic Check stage, use either:</p>

    <ul>
      <li>
        1. The Identifier field in an HRL process notification contains a link to the HRL parcel.<br />
        - Click on Identifier field link.<br />
        - Click on Next step: Service provider upload.<br />
        - Use the dialogue to upload your data.<br />
      </li>

      <li>
        2. Use the Search deliveries tool.<br />
        - Select the country, theme etc. to find the HRL of interest.<br />
        - Click on the Stage link. This takes you to the upload page, as in 1) above.<br />
      </li>
    </ul>

    <p>If an upload was made erroneously and you want to delete it, contact <a href="mailto:alan.steel@eea.europa.eu">alan.steel@eea.europa.eu</a></p>

    Please ensure that the delivered files conform to the file naming conventions in the following document (<a href="{{ url_for('static', filename='doc/filenameConvention.pdf') }}">Filename_convention.pdf</a>).
  </div>

  <h1>{{ title }}</h1>

  <table id="delivery_type" class="delivery_type">
    <tr>
      <td>
        <label>
            <input type="radio" name="delivery_type"
            {% if delivery_type == COUNTRY %}checked="checked"{% endif %}
                   value="{{ url_for('parcel.country_delivery') }}">
            Country-based delivery
        </label>
      </td>
      <td>
        <label>
            <input type="radio" name="delivery_type"
            {% if delivery_type == LOT %}checked="checked"{% endif %}
                   value="{{ url_for('parcel.lot_delivery') }}">
            LAEA mosaic delivery
        </label>
        <label>
            <input type="radio" name="delivery_type"
            {% if delivery_type == STREAM %}checked="checked"{% endif %}
                   value="{{ url_for('parcel.stream_delivery') }}">
            Streamlining delivery
        </label>
      </td>
    </tr>
  </table>
  <input id="delivery"hidden value="{{delivery_type}}"/>
  <hr>

  <form class="delivery_form" method="post">

    <table>
      {% if delivery_type == COUNTRY %}
      <tr>
        <td>{{ form.country.label }}</td>
        <td>{{ form.country() }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>{{ form.lot.label }}</td>
        <td>{{ form.lot() }}</td>
      </tr>

      <tr>
        <td>{{ form.theme.label }}</td>
        <td>{{ form.theme() }}</td>
      </tr>
      {% if delivery_type != STREAM  %}
        <tr>
          <td>{{ form.resolution.label }}</td>
          <td>{{ form.resolution() }}</td>
        </tr>
        {% if delivery_type == LOT %}
          <tr>
            <td>{{ form.extent.label }}</td>
            <td>{{ form.extent() }}</td>
          </tr>
          <tr class="hide">
            <td>{{ form.coverage.label }}</td>
            <td>{{ form.coverage() }}
                <span class="err">(required)</span>
            </td>
          </tr>
        {% endif %}
        <tr>
          <td>{{ form.reference.label }}</td>
          <td>{{ form.reference() }}</td>
        </tr>
      {% endif %}
      </table>
    {% if delivery_type != STREAM %}
      <button type="submit">Begin upload</button>
    {% else %}
      <button type="submit" disabled>Begin upload</button>
    {% endif %}
  </form>
{% endblock %}
