{% extends "layout.html" %}


{% from 'bits.html' import breadcrumb_items %}
{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GIO Land'),
    (url_for('parcel.view', name=parcel.name),
             THEME_MAP[parcel.metadata["theme"]]),
    (url_for('parcel.delete', name=parcel.name), 'Delete parcel'),
  ]) }}
{% endblock %}


{% macro parcel_link(parcel) -%}
<a href="{{ url_for('parcel.view', name=parcel.name) }}">
{{- STAGE_MAP[parcel.metadata['stage']] -}}
</a>
  {{ parcel.metadata['upload_time'] }}
{%- endmacro %}


{% block content %}

{% if will_not_remove %}
  <h2>Will be kept</h2>
  <ul>
    {% for p in will_not_remove %}
      <li>{{ parcel_link(p) }}</li>
    {% endfor %}
  </ul>
{% endif %}


<h2>Will be removed</h2>
<ul>
  {% for p in will_remove %}
    <li>{{ parcel_link(p) }}</li>
  {% endfor %}
</ul>

<form method="post">
  <button type="submit">Yes, delete</button>
</form>

{% endblock %}
