{% extends "layout.html" %}

{% set title = "New Product Delivery Report" %}

{% block page_title %}{{ super() }} &ndash; {{ title }}{% endblock %}

{% block scripts %}
<script>
$(function() {
    $('#upload-meta-lot').on('change', function() {
      var lot_id = $(this).val()
      console.log(lot_id)
      var delivery_type = "{{ COUNTRY }}"
      $.getJSON($(this).attr('data-href'), {
        id: lot_id,
        delivery_type: delivery_type,
      }, function(data) {
           var select = $('#upload-meta-product');
           select.html('');
           $.each(data, function() {
             select.append($("<option />").val(this[0]).text(this[1]));
           });
      });

    }).change();
});
</script>
{% endblock %}

{% from 'bits.html' import breadcrumb_items %}
{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GIO Land'),
    (url_for('parcel.new_report'), title),
  ]) }}
{% endblock %}


{% block page_heading %}<h1>{{ title }}</h1>{% endblock %}


{% block content %}

  {% from 'bits.html' import pick_from_list %}

  <form id="country_form" method="post" enctype="multipart/form-data">

    <table>
    {% for name, label, items in [
            ('lot', "Lot", LOTS),
            ('product', "Product", COUNTRY_PRODUCTS),
      ] %}
      <tr>
        {% set field_id = 'upload-meta-' + name %}
        {% if name == LOT %}
          {%set url = url_for('parcel.pick_products') %}
        {% else %}
          {% set url = '' %}
        {% endif %}
        <td><label for="{{ field_id }}">{{ label }}</label></td>
        <td>{{ pick_from_list(field_id, name, items, url=url) }}</td>
      </tr>
    {% endfor %}

    <tr>
      <td><label for="file">File</label></td>
      <td><input id="file" name="file" type="file" /></td>
    </tr>

    </table>

    <button type="submit">Begin upload</button>

  </form>

{% endblock %}
