{% from 'bits.html' import pick_from_list %}

<div class="filters">

  {% if delivery_type == LOT %}
    {% set product = PRODUCTS %}
  {% elif delivery_type == COUNTRY %}
    {% set product = COUNTRY_PRODUCTS %}
  {% endif %}

  {% if delivery_type == COUNTRY %}
    {{ pick_from_list('filter-country', 'country', COUNTRIES, any=True) }}
  {% endif %}


  {{ pick_from_list('filter-lot', 'lot', LOTS, any=True, label='Lot', url=url_for('parcel.pick_products')) }}

  {{ pick_from_list('filter-product', 'product', product, any=True, label='Product') }}

  {{ pick_from_list('filter-resolution', 'resolution', RESOLUTIONS, any=True) }}

  {% if delivery_type == LOT %}
    {{ pick_from_list('filter-extent', 'extent', EXTENTS, any=True) }}
  {% endif %}

  {{ pick_from_list('filter-stage', 'stage', STAGES_PICKLIST, any=True) }}
  {{ pick_from_list('filter-reference', 'reference', REFERENCES, any=True) }}
  <div class="clear">
    <a href="{{ url_for('parcel.search') }}">Clear filters</a>
  </div>
</div>
