{% extends "layout.html" %}

{% set title = "Search deliveries" %}


{% block page_title %}{{ super() }} &ndash; {{ title }}{% endblock %}


{% from 'bits.html' import breadcrumb_items, report_overview with context %}
{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GIO Land'),
    (url_for('parcel.search'), title),
  ]) }}
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='uri.js') }}"></script>
    <script>
      function filter() {
          var uri = URI(document.location.href);
          var name = $(this).attr("name");
          var val = $(this).val();

          uri.removeSearch(name);
          if(val) { uri.addSearch(name, val); }
          var id = $(this).attr("id")
          if ( id == "filter-lot"){
            uri.removeSearch("product");
          }
          document.location = uri.href();
      }

      function default_select_filters() {
        var uri = URI(document.location.href);
        var query = URI.parseQuery(uri.query());
        $.each(query, function (k, v) {
          $("#filter-" + k).find("option[value=" + v + "]")
                           .attr("selected", "selected");
        });
      }

      $(document).ready(function () {
        $(".filters").on("change", "select", filter);
        default_select_filters();
        lotSelected = $('#filter-lot').val();
        var delivery_type = $('#delivery').val()
        if (lotSelected){
          $.getJSON($('#filter-lot').data('href'), {
              id: lotSelected,
              delivery_type: delivery_type,
          }, function(data) {
               var select = $("#filter-product");
               select.html('');
               select.append($("<option />").val(null).text("Any Product"));
               $.each(data, function(){
                 select.append($("<option />").val(this[0]).text(this[1]));
               });
               default_select_filters();
          });
        }
      });
    </script>
{% endblock %}

{% block page_heading %}<h1>{{ title }}</h1>{% endblock %}


{% block content %}

  <ul class="tabs">
    <li {% if delivery_type == COUNTRY %}class="active"{% endif %}>
      <a href="{{ url_for('.search') }}" >
      Country deliveries</a></li>
    <li {% if delivery_type == LOT %}class="active"{% endif %}>
      <a href="{{ url_for('.search', delivery_type=LOT) }}">
      Lot deliveries</a></li>
  </ul>

  {% include "search_filter.html" %}

  <table class="datatable">

    <thead>
      {% if delivery_type == COUNTRY %}
        <th>Country</th>
      {% endif %}
      {% if delivery_type == LOT %}
        <th>Lot</th>
      {% endif %}
      <th>Product</th>
      {% if delivery_type == LOT %}
        <th>Extent</th>
      {% endif %}
      <th>Resolution</th>
      <th>Workflow overview</th>
      <th>Stage</th>
      <th>Updated</th>
      <th>Reference year</th>
    </thead>
    <input id="delivery"hidden value="{{delivery_type}}"/>
    <tbody>
    {% for parcel in parcels %}
      <tr>
        {% set url = url_for('parcel.view', name=parcel.name) %}
        {% set overview_url = url_for('parcel.chain', name=parcel.name) %}
        {% set metadata = parcel.metadata %}

        {% if delivery_type == COUNTRY %}
          <td>{{ COUNTRY_MAP[metadata['country']] }}</td>
        {% endif %}

        {% if delivery_type == LOT %}
          <td>{{ LOTS_MAP[metadata['lot']] }}</td>
        {% endif %}

        <td>
          {{ PRODUCT_MAP[metadata['product']] }}
          {% if delivery_type == LOT %}
            {% if parcel.metadata['extent'] == 'partial' %}
              ({{ parcel.metadata['coverage'] }})
            {% endif %}
          {% endif %}
        </td>
        {% if delivery_type == LOT %}
          <td>{{ EXTENT_MAP[metadata['extent']] }}</td>
        {% endif %}
        <td>{{ RESOLUTION_MAP[metadata['resolution']] }}</td>
        <td><a href="{{ overview_url }}">workflow overview</a></td>
        <td>{{ STAGE_MAP[metadata['stage']] }}</td>
        <td>{{ parcel.last_modified|datetime }}</td>
        <td>{{ REFERENCE_MAP[metadata['reference']] }}</td>
      </tr>
    {% endfor %}
    </tbody>

  </table>

  {{ report_overview(all_reports) }}

{% endblock %}
