{% extends "layout.html" %}

{% set title = "Search deliveries" %}


{% block page_title %}{{ super() }} &ndash; {{ title }}{% endblock %}


{% from 'bits.html' import breadcrumb_items %}
{% block breadcrumb %}
  {{ breadcrumb_items([
    (url_for('parcel.index'), 'GIO Land'),
    (url_for('parcel.search'), title),
  ]) }}
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='uri.js') }}"></script>
    <script>
      function filter() {
          var uri = URI(document.location.href);
          var name = $(this).attr("name");
          var val = $(this).val();

          uri.removeSearch(name);
          if(val) { uri.addSearch(name, val); }
          document.location = uri.href();
      }

      function default_select_filters() {
        var uri = URI(document.location.href);
        var query = URI.parseQuery(uri.query());
        $.each(query, function (k, v) {
          $("#filter-" + k).find("option[value=" + v + "]")
                           .attr("selected", "selected");
        });
      }

      $(document).ready(function () {
        $(".filters").on("change", "select", filter);
        default_select_filters();
      });
    </script>
{% endblock %}

{% block page_heading %}<h1>{{ title }}</h1>{% endblock %}


{% block content %}

  {% include "search_filter.html" %}

  <table class="datatable">

    <thead>
      <th>Country</th>
      <th>Theme</th>
      <th>Extent</th>
      <th>Projection</th>
      <th>Resolution</th>
      <th>Stage</th>
      <th>Updated</th>
    </thead>

    <tbody>
    {% for parcel in parcels %}
      <tr>
        {% set url = url_for('parcel.view', name=parcel.name) %}
        {% set metadata = parcel.metadata %}
        <td>{{ COUNTRY_MAP[metadata['country']] }}</td>
        <td>
          {{ THEME_MAP[metadata['theme']] }}
          {% if parcel.metadata['extent'] == 'partial' %}
            ({{ parcel.metadata['coverage'] }})
          {% endif %}
        </td>
        <td>{{ EXTENT_MAP[metadata['extent']] }}</td>
        <td>{{ PROJECTION_MAP[metadata['projection']] }}</td>
        <td>{{ RESOLUTION_MAP[metadata['resolution']] }}</td>
        <td><a href="{{ url }}">{{ STAGE_MAP[metadata['stage']] }}</a></td>
        <td>{{ parcel.last_modified|datetime }}</td>
      </tr>
    {% endfor %}
    </tbody>

  </table>

{% endblock %}
